@media only screen and (min-width: 350px) and (max-width: 500px) {
    /*Головні блоки*/
    .header, .title-content, .main-content-1, .main-content-2, .main-content-3, .contact-content>div, .footer {
        max-width: 325px;
    }

    .main-content-3 {
        height: 800px;

        align-items: center;
    }

    .title-content, .main-content-1, .main-content-2 {
        background: none;
    }

    .title-content {
        height: 900px;
    }

    .main-content-1 {
        height: 550px;
    }

    .main-content-2 {
        height: 2100px;
    }

    .contact-content {
        height: 400px;

        background: rgba(30, 30, 32, 0.50);
    }

    .contact-content>div {
        height: 100%;
    }

    .footer {
        height: 400px;

        margin-top: 100px;
        margin-bottom: 0;
    }

    /*Шапка*/
    .nav-box {
        display: none;
    }

    .header>button {
        display: none;
    }

    /*Заголовок*/
    .title-content {
        display: flex;
        flex-direction: column;
    }

    .title-box {
        background: radial-gradient(50% 50% at 50% 50%, #353550 0%, rgba(25, 25, 27, 0.00) 100%);
    }

    .title-box>span {
        font-size: 16px;
        line-height: 150%;

        margin-top: 30px;
    }

    .title-box>span:first-child {
        font-size: 42px;
        line-height: 150%;

        margin-top: 30px;
    }

    .title-box>button {
        height: 44px;
        width: 166px;

        justify-content: center;

        font-size: 16px;
    }

    .title-box>button>span {
        margin-left: 0;
    }

    .title-content>img {
        height: auto;
        width: 325px;

        margin-top: 65px;
    }

    /*Головний контент 1*/
    .text-box-1 {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: normal;

        margin-top: 100px;
    }

    .text-box-1>span {
        width: 325px;

        font-size: 16px;
        line-height: 150%;

        margin-top: 30px;
    }

    .text-box-1>span:first-child {
        width: 325px;

        font-size: 36px;
        line-height: 150%;

        margin-top: 0;
    }

    .main-content-1>img {
        height: auto;
        width: 325px;

        margin-top: 50px;
    }

    /*Головний контент 2*/
    .text-box-2 {
        width: 325px;

        font-size: 36px;
        line-height: 150%;

        margin-top: 140px;
    }

    .card-box {
        justify-content: center;
    }

    .card-title {
        font-size: 24px;
    }

    .card-desc {
        width: 300px;

        font-size: 16px;

        letter-spacing: normal;
    }

    /*Головний контент 3*/
    .main-content-3>span {
        width: 325px;

        color: #FFF;

        font-size: 36px;
        font-weight: 400;
        line-height: 150%;

        margin-top: 140px;
    }

    .portfolio-box {
        flex-direction: column;

        margin-top: 50px;
    }

    .portfolio-box>div {
        padding: 0;

        display: none;
    }

    .portfolio-box>div:first-child {
        height: 245px;
        width: 325px;

        display: flex;
    }

    /*Контакти*/
    .contact-content>div {
        flex-direction: column;
        justify-content: normal;
    }

    .text-box-3 {
        width: 325px;

        font-size: 36px;
        line-height: 150%;

        margin-top: 80px;
    }

    .contact-content>div>button {
        height: 44px;
        width: 166px;

        border-radius: 4px;


        font-size: 16px;

        margin-top: 50px;
    }

    /*Футер*/
    .footer {
        flex-direction: column;
        justify-content: normal;
        align-items: center;
    }

    .footer>img {
          margin-top: 40px;
    }

    .footer-nav {
        height: fit-content;
        width: 180px;

        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 40px;

        margin-top: 40px;
    }

    .footer-nav>a {
        color: rgba(255, 255, 255, 0.70);

        font-size: 18px;
        font-weight: 700;
        line-height: 28px;

        text-decoration: none;
    }

    .footer-nav>a:hover, .footer-nav>a:active {
        color: rgba(255, 255, 255, 0.90);
    }

    .footer>span {
        color: #FFF;

        text-align: center;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: normal;

        margin-top: 40px;
    }
}
