@media only screen and (min-width: 861px) and (max-width: 1220px) {
    /*Головні блоки*/
    .header, .title-content, .main-content-1, .main-content-2, .main-content-3, .contact-content > div, .footer {
        height: fit-content;
        max-width: 840px;
    }

    .contact-content {
        height: fit-content;
    }

    .footer {
        margin-bottom: 0;
    }

    /*Шапка*/
    .nav-box {
        gap: 30px;
    }

    /*Заголовок*/
    .title-content {
        flex-direction: column;
        align-items: center;

        background: none;
    }

    .title-box {
        background: radial-gradient(50% 50% at 50% 50%, #353550 0%, rgba(25, 25, 27, 0.00) 100%);
    }

    .title-box > span {
        font-size: 20px;
    }

    .title-box > span:first-child {
        font-size: 70px;
    }

    /*Головний контент 1*/
    .text-box-1 {
        flex-direction: column;
        justify-content: normal;
    }

    .text-box-1 > span {
        width: 600px;
        font-size: 20px;

        margin-top: 20px;
    }

    .text-box-1 > span:first-child {
        width: 460px;
    }

    .main-content-1 > img {
        height: auto;
        width: 840px;
    }

    /*Головний контент 2*/
    .card-title {
        font-size: 26px;
    }

    /*Головний контент 3*/
    .main-content-3 > span {
        font-weight: 700;

        margin-top: 140px;
    }

    .portfolio-box {
        margin-top: 120px;
        margin-bottom: 200px;
    }

    .portfolio-box > div:last-child {
        display: none;
    }

    /*Контакти*/
    .contact-content > div {
        align-items: center;
    }

    .text-box-3 {
        width: 600px;

        font-size: 48px;

        margin: 100px 0;
    }

    .contact-content > div > button {
        font-size: 20px;

        margin: 100px 0;
    }

    /*Футер*/
    .footer {
        padding-bottom: 40px;
    }
}
