@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
    background-color: #19191B;

    margin: 0;
}

/*Головні блоки*/
.header, .title-content, .main-content-1, .main-content-2, .main-content-3, .contact-content > div, .footer {
    max-width: 1200px;

    margin-right: auto;
    margin-left: auto;
}

.header {
    height: 100px;

    display: flex;
    justify-content: space-between;
}

.title-content {
    height: 800px;

    background: radial-gradient(50% 50% at 50% 50%, #353550 0%, rgba(25, 25, 27, 0.00) 100%);
}

.main-content-1 {
    height: 1000px;

    background: radial-gradient(50% 50% at 50% 50%, #353550 0%, rgba(25, 25, 27, 0.00) 100%);
}

.main-content-2 {
    height: 1000px;

    background: radial-gradient(50% 50% at 50% 50%, #353550 0%, rgba(25, 25, 27, 0.00) 100%);
}

.main-content-3 {
    height: 900px;
}

.contact-content {
    height: 500px;

    background: rgba(30, 30, 32, 0.50);
}

.contact-content > div {
    height: 100%;
}

.footer {
    height: 100px;

    margin-bottom: 50px;
}

/*Шапка*/
.header > img {
    height: 40px;
    width: 132px;

    margin-top: 40px;
}

.nav-box {
    height: fit-content;
    width: fit-content;

    display: flex;

    gap: 40px;

    margin-top: 48px;
}

.nav-box > a {
    font-size: 18px;
    line-height: normal;
    color: rgba(255, 255, 255, 0.70);

    text-decoration: none;
}

.nav-box > a:nth-child(4n-3) {
    color: #5454D4;
    font-weight: 600;
}

.nav-box > a:hover {
    color: #5454D4;
}

.nav-box > a:active {
    color: rgba(255, 255, 255, 0.90);
}

.header > button {
    width: 157px;
    height: 44px;

    border-radius: 5px;
    border: 1px solid #FFF;

    background-color: transparent;
    backdrop-filter: blur(1px);

    color: #FFF;
    font-size: 16px;
    letter-spacing: -0.5px;

    margin-top: 40px;

    transition: background-color 0.3s, color 0.3s;
}

.header > button:hover {
    background-color: #FFF;
    color: #333;
}

.header > button:active {
    transform: scale(0.95);
    background-color: #ccc;
}

/*Заголовок*/
.title-content {
    display: flex;
}

.title-box {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.title-box > span {
    color: rgba(255, 255, 255, 0.70);
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.657px;

    margin-top: 24px;
}

.title-box > span:first-child {
    color: #FFF;
    font-size: 80px;
    line-height: 84px;

    margin-top: 120px;
}

.title-box > button {
    height: 58px;
    width: 204px;

    display: flex;
    justify-content: start;
    align-items: center;

    border-radius: 4px;
    border: 0 solid #5454D4;
    background: #5454D4;

    color: #FFF;
    font-size: 20px;
    line-height: normal;

    margin-top: 50px;
    transition: background-color 0.3s, border-color 0.3s;
}

.title-box > button > span {
    margin-left: 27px;
}

.title-box > button:hover {
    background-color: #4444C4;
    border-color: #4444C4;
}

.title-box > button:active {
    transform: scale(0.95);
    background-color: #3333B3;
    border-color: #3333B3;
}

.title-content > img {
    height: 713px;
    width: 656px;
}

/*Головний контент 1*/
.main-content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-box-1 {
    width: 100%;

    display: flex;
    justify-content: space-between;

    margin-top: 80px;
}

.text-box-1 > span {
    width: 588px;

    color: rgba(255, 255, 255, 0.70);
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.657px;
}

.text-box-1 > span:first-child {
    width: 446px;

    color: #FFF;
    font-size: 60px;
    line-height: 70px;
}

.main-content-1 > img {
    height: 670px;
    width: 1200px;

    margin-top: 50px;
}

/*Головний контент 2*/
.main-content-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-box-2 {
    width: 695px;

    color: #FFF;
    text-align: center;
    font-size: 60px;
    line-height: 70px;

    margin-top: 135px;
}

.card-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 110px;

    margin-top: 98px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    color: #FFF;

    text-align: center;
    font-size: 28px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.75px;

    margin-top: 20px;
}

.card-desc {
    width: 300px;

    color: rgba(255, 255, 255, 0.70);

    text-align: center;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.5px;

    margin-top: 24px;
}

.bg-circle-purple, .bg-circle-red, .bg-circle-yellow {
    height: 69px;
    width: 69px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    transition: background-color 0.1s;
}

.bg-circle-purple {
    background-color: rgba(84, 84, 212, 0.10);
}

.bg-circle-purple:hover {
    transform: scale(1.1);
    background-color: rgba(84, 84, 212, 0.20);
}

.bg-circle-purple:active {
    transform: scale(0.95);
    background-color: rgba(84, 84, 212, 0.30);
}

.bg-circle-red {
    background-color: rgba(240, 64, 55, 0.10);
}

.bg-circle-red:hover {
    transform: scale(1.1);
    background-color: rgba(240, 64, 55, 0.20);
}

.bg-circle-red:active {
    transform: scale(0.95);
    background-color: rgba(240, 64, 55, 0.30);
}

.bg-circle-yellow {
    background-color: rgba(254, 220, 90, 0.10);
}

.bg-circle-yellow:hover {
    transform: scale(1.1);
    background-color: rgba(254, 220, 90, 0.20);
}

.bg-circle-yellow:active {
    transform: scale(0.95);
    background-color: rgba(254, 220, 90, 0.30);
}

/*Головний контент 3*/
.main-content-3 {
    display: flex;
    flex-direction: column;
}

.main-content-3 > span {
    color: #FFF;

    font-size: 58px;
    font-weight: 800;
    line-height: normal;

    margin-top: 75px;
}

.portfolio-box {
    display: flex;
    justify-content: space-between;

    margin-top: 160px;
}

.portfolio-box > div {
    height: 252px;
    width: 336px;

    border-radius: 14px;
    background: #1E1E20;

    padding: 24px;
}

.portfolio-box > div > img {
    height: 100%;
    width: 100%;

    border-radius: 12px;
}

/*Контакти*/
.contact-content > div {
    display: flex;
    justify-content: space-between;
}

.text-box-3 {
    width: 826px;

    color: #FFF;

    font-size: 60px;
    line-height: normal;

    margin-top: 185px;
}

.contact-content > div > button {
    height: 60px;
    width: 201px;

    border-style: none;
    border-radius: 5px;
    background: #5454D4;

    color: #FFF;

    text-align: center;
    font-size: 21px;
    line-height: normal;

    margin-top: 225px;
    transition: background-color 0.3s, border-color 0.3s;
}

.contact-content > div > button:hover {
    background-color: #4444C4;
    border-color: #4444C4;
}

.contact-content > div > button:active {
    transform: scale(0.95);
    background-color: #3333B3;
    border-color: #3333B3;
}

/*Футер*/
.footer {
    display: flex;
    justify-content: space-between;
}

.footer > img {
    height: 40px;
    width: 132px;

    margin-top: 50px;
}

.footer-nav {
    height: 0;
    width: 0;

    display: none;
}

.footer > span {
    color: rgba(255, 255, 255, 0.70);

    text-align: right;
    font-size: 16px;
    line-height: 38px;
    letter-spacing: -0.5px;

    margin-top: 50px;
}

/*Шрифти*/
.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*Not found 404*/
.NF4 {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 40px;

    background: radial-gradient(50% 50% at 50% 50%, #353550 0%, rgba(25, 25, 27, 0.00) 100%);

    color: #FFF;
    font-size: 60px;
    line-height: 70px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.NF4 > span:first-child {
    font-size: 120px;
}
